.bm-burger-button {
    position: fixed;
    width: 25px;
    height: 20px;
    right: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #0d0436;
    transition: 0.3s ease-in-out;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #8d88a13c;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #ffdcdce5;
    padding: 4em 2em;
    height: 100%;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #ffebeb;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    padding-bottom: 0.9em;
  }
  
  /* Styling of overlay */

  .bm-overlay {
    background-color: white;
  }
